body {
  margin: 0;
  /* background-color: rgb(58, 58, 58);
  color: white; */
  display: flex;
  justify-content: center;
  margin: 0 10px;
  font-family: "Open Sans", sans-serif;
  max-width: 800px;
  margin: auto;
}

table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: start;
  border-top: 2px lightgray;
  transition: all;
  transition-duration: 700ms;
}

th:hover {
  background-color: lightgray;
}

td,
th {
  padding: 10px;
}

tr {
  border-bottom: 1px lightgray solid;
  cursor: pointer;
  transition: all;
  transition-duration: 700ms;
}

tr:hover {
  background-color: lightgray;
}

thead tr:hover {
  background-color: white;
}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.filter-item-label {
  margin-right: 10px;
}

.input-filter-container input {
  margin: 10px 0;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px lightgray solid;
  transition: all;
  transition-duration: 200ms;
}

.input-filter-container input:focus {
  outline-width: 1px;
  width: 100%;
}

.filters-container {
  display: flex;
  flex-direction: row;
}

.filter {
  padding: 10px;
  border: 1px solid #2a6f97;
  border-radius: 10px;
  margin: 5px 0;
  margin-right: 10px;
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
}

.filter:hover {
  box-shadow: #2a6f97 0px 0px 10px 1px;
}

.filter-selected {
  color: white;
  background-color: #2a6f97;
}
