body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
  margin: auto;
  max-width: 800px;
}

table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}

th {
  text-align: start;
  border-top: 2px lightgray;
  transition: all;
  transition-duration: 700ms;
}

th:hover {
  background-color: lightgray;
}

td,
th {
  padding: 10px;
}

tr {
  border-bottom: 1px lightgray solid;
  cursor: pointer;
  transition: all;
  transition-duration: 700ms;
}

tr:hover {
  background-color: lightgray;
}

thead tr:hover {
  background-color: white;
}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.filter-item-label {
  margin-right: 10px;
}

.input-filter-container {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-filter-container input {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  border: 1px lightgray solid;
  transition: all;
  transition-duration: 200ms;
}

.input-filter-container input:focus {
  outline-width: 1px;
  width: 100%;
}

.filters-container {
  display: flex;
  flex-direction: row;
}

.filter {
  padding: 10px;
  border: 1px solid #146c94;
  border-radius: 10px;
  margin: 5px 0;
  margin-right: 10px;
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
}

.filter:hover {
  box-shadow: #146c94 0px 0px 10px 1px;
}

.filter-selected {
  color: white;
  background-color: #146c94;
}

.collapsed {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all;
  transition-duration: 200ms;
}

.expanded {
  height: 100%;
  visibility: visible;
  transition: all;
  transition-duration: 200ms;
}

.show-filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  transition: all;
  transition-duration: 200ms;
  width: 40%;
  margin: auto;
}

.show-filter-button:hover {
  color: #146c94;
  background-color: lightgray;
}
